In [245]:
import pandas as pd
import requests
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.options import Options
from selenium.common.exceptions import NoSuchElementException
from time import sleep
from bs4 import BeautifulSoup
from pathlib import Path
import re

In [246]:
from tqdm.notebook import tqdm_notebook as tqdm

In [247]:
import numpy as np

In [248]:

def access(href):
    url = "https://planetrulers.com/{}" 
    return url.format(href)

In [249]:
with open("main.html", 'r') as f:
    html_parse = BeautifulSoup(f)

In [250]:
country_age_dict = {}

In [252]:
country_age_dictd

{'Abkhazia (Republic of Abkhazia)': 'born 6 april 1963'}

In [251]:
all_entries = html_parse.find_all('a', href=True, title=True)

# Initialize the Chrome driver
chrome_options = Options()
chrome_options.add_argument("--incognito")
driver = webdriver.Chrome(options=chrome_options)

pattern = 'born.*?[0-9]{4}'

problems = []

for entry in tqdm(all_entries):
    country = entry.text
    href = entry['href']
    link = access(href)

    # If the country is already in country_age_dict, pass over it
    if country in country_age_dict or country in problems:
        continue

    # Open the website
    driver.get(link)
    temp_html = driver.page_source
    temp_text = BeautifulSoup(temp_html).find_all('p')
    temp_text = [text.text for text in temp_text]
    x1 = re.findall(pattern, "".join(temp_text).lower())
    if len(x1) != 0:
        age = x1[0]
        country_age_dict[country] = age
    else:
        problems.append(link)

    
driver.quit()

country_age_dict

  0%|          | 0/204 [00:00<?, ?it/s]

NoSuchWindowException: Message: no such window: target window already closed
from unknown error: web view not found
  (Session info: chrome=121.0.6167.161)

In [ ]:
df

,Text,Length,Birthyear
Abkhazia (Republic of Abkhazia),born 6 april 1963,17.0,1963.0
Afghanistan,born in 1949,12.0,1949.0
Albania,born 20 march 1967,18.0,1967.0
Algeria,born 17 november 1945,21.0,1945.0
Angola,born 5 march 1954,17.0,1954.0
Antigua and Barbuda,"born july 26, 1944",18.0,1944.0
Argentina,born 2 april 1959,17.0,1959.0
Armenia,born 26 july 1959,17.0,1959.0
Austria,born 18 october 1972,20.0,1972.0
Azerbaijan,"born in december 24, 1961",25.0,1961.0
Bahamas,"born at mathew town, inagua, 11 may 1928",40.0,1928.0
Bahrain,"born january 28, 1950",21.0,1950.0
Bangladesh,born: 1 january 1944,20.0,1944.0
Barbados,born 17 january 1949,20.0,1949.0
Belarus,born 31 august 1954,19.0,1954.0
Belgium,born 15 april 1960,18.0,1960.0
Belize,"born in belize city on march 2, 1951",37.0,1951.0
Benin,born 1 may 1958,15.0,1958.0
Bolivia,born 28 september 1963,22.0,1963.0
Bosnia and Herzegovina,born 12 march 1959,18.0,1959.0
Botswana,born 21 july 1961,17.0,1961.0
Brazil,born 21 march 1955,18.0,1955.0
Brunei,born on 15th july 1946,22.0,1946.0
Bulgaria,"born in gotse delchev, rosen plevneliev studie...",142.0,1963.0
Burkina Faso,born january 1981,17.0,1981.0
Burundi,born 1968,9.0,1968.0
Cambodia,born on thursday 14 may 1953,28.0,1953.0
Cameroon,"born on february 13, 1933",25.0,1933.0
Canada,born in ottawa and attended collège jean-de-br...,73.0,1971.0
Cape Verde,born 28 march 1960,18.0,1960.0
Central African Republic,born 21 april 1957,18.0,1957.0
Chad,born 1 january 1984,19.0,1984.0
Chile,born 11 february 1986,21.0,1986.0
China,born 1 june 1953,16.0,1953.0
Colombia,born 19 april 1960,18.0,1960.0
Comoros,"born january 1, 1959",20.0,1959.0
Congo,born 13 june 1963,17.0,1963.0
Costa Rica,born 10 june 1961,17.0,1961.0
Côte d’Ivoire (Ivory Coast),born 1 january 1942,19.0,1942.0
Croatia,born 30 october 1966,20.0,1966.0
Cuba,born 20 april 1960,18.0,1960.0
Curacao,born 28 october 1971,20.0,1971.0
Cyprus,born 27 september 1946,22.0,1946.0
Czech Republic,born 28 september 1944,22.0,1944.0
Denmark,born on 16 april 1940,23.0,1940.0
Djibouti,"born november 27, 1947",22.0,1947.0
Dominica,born 1948,9.0,1948.0
Dominican Republic,born 12 july 1967,17.0,1967.0
Ecuador,born 16 november 1955,21.0,1955.0
Egypt,"born in gamaleya, old cairo, sisi graduated fr...",267.0,1954.0
El Salvador,born 24 july 1981,17.0,1981.0
Eritrea,born in asmara eritrea in a little village. is...,301.0,1946.0
Estonia,born 30 december 1969,21.0,1969.0
Ethiopia,born on 15 august 1976,22.0,1976.0
Faroe Islands,"born in vejle, denmark, in 1964",31.0,1964.0
Fiji,born in suva on 27 april 1954,29.0,1954.0
Finland,born 24 august 1948,19.0,1948.0
France,"born on dec 21, 1977",20.0,1977.0
French Polynesia,"born on august 7th, 1949",24.0,1949.0
Gabon,"born albert-bernard bongo, december 30, 1935",44.0,1935.0
Gambia,born 16 february 1965,21.0,1965.0
Georgia,born 18 march 1952,18.0,1952.0
Germany,born on 17 july 1954,20.0,1954.0
Ghana,born 29 march 1944,18.0,1944.0
Greece,born 28 july 1974,17.0,1974.0
Grenada,"born june 13, 1945",18.0,1945.0
Guatemala,born 9 march 1956,17.0,1956.0
Guinea,born 4 march 1980,17.0,1980.0
Guinea-Bissau,born 23 september 1972,22.0,1972.0
Guyana,born 25 may 1980,16.0,1980.0
Haiti,born 6 november 1949,20.0,1949.0
Honduras,born 30 september 1959,22.0,1959.0
Hungary,born 6 september 1977,21.0,1977.0
Iceland,born 26 june 1968,17.0,1968.0
India,born 17 september 1950,22.0,1950.0
Indonesia,"born in pacitan, east java, on 9 september 1949",47.0,1961.0
Iran,born 19 april 1939,18.0,1939.0
Iraq,born 12 september 1960,22.0,1960.0
Ireland,"born into humble circumstances in limerick, an...",3381.0,1941.0
Israel,born 25 march 1972,18.0,1972.0
Italy,born 15 january 1977,20.0,1977.0
Jamaica,"born in wood hall, st. catherine and attended ...",396.0,1945.0
Japan,born 29 july 1957,17.0,1957.0
Jordan,"born in amman on january 30th, 1962",35.0,1962.0
Kazakhstan,born 17 may 1953,16.0,1953.0
Kenya,born 21 december 1966,21.0,1966.0
Korea (South),"born december 18, 1960",22.0,1960.0
Korea (North),born 8 january 1983,19.0,1983.0
Kosovo,born 17 may 1982,16.0,1982.0
Kuwait,born in 1937,12.0,1937.0
Kyrgyzstan,born 6 december 1968,20.0,1968.0
Laos,born 10 november 1945,21.0,1945.0
Latvia,born 30 june 1955,17.0,1955.0
Lebanon,born on the 21st of november 1948,33.0,1948.0
Lesotho,born at scott hospital in morija on july 17 1963,48.0,1963.0
Liberia,born 1 october 1966,19.0,1966.0
Libya,born in 1942,12.0,1942.0
Liechtenstein,born on 14th february 1945,26.0,1945.0
Lithuania,born in vilnius on march 1 1956,31.0,1956.0
Macedonia,born on 2 may 1960,18.0,1960.0
Madagascar,born 30 may 1974,16.0,1974.0
Malawi,born 5 april 1955,17.0,1955.0
Malaysia,born 10 july 1925,17.0,1925.0
Maldives,born 4 may 1964,15.0,1964.0
Mali,born c. 1983,12.0,1983.0
Malta,born in qormi on 7th december 1958,34.0,1958.0
Marshall Islands,born 1951,9.0,1951.0
Mauritania,born 31 december 1956,21.0,1956.0
Mexico,born: 13 november 1953,22.0,1953.0
Micronesia,born 1964,9.0,1964.0
Moldova,born 24 may 1972,16.0,1972.0
Monaco,"born: monaco, march 14th, 1958",30.0,1958.0
Mongolia,born 14 june 1968,17.0,1968.0
Montenegro,born 15 february 1962,21.0,1962.0
Morocco,"born in rabat on wednesday, august 21, 1963",43.0,1961.0
Mozambique,born 9 february 1959,20.0,1959.0
Myanmar (Burma),born 3 july 1956,16.0,1956.0
Namibia,born 3 august 1941,18.0,1941.0
Nauru,"born on september 16, 1972",26.0,1972.0
"Nepal,",born to bodh prasad koirala and kuminidi koira...,66.0,-1.0
New Zealand,born 26 july 1980,17.0,1980.0
Nicaragua,"born in la libertad, nicaragua, on november 11...",52.0,1945.0
Niger,born 1952,9.0,1952.0
Nigeria,born 17 december 1942,21.0,1942.0
Northern Cyprus,born 28 december 1947,21.0,1947.0
Norway,born 24 february 1961,21.0,1961.0
Pakistan,born 29 august 1949,19.0,1949.0
Palau,born 1968,9.0,1968.0
Palestine,"born in safad on march 26, 1935",32.0,1935.0
Panama,"born january 30, 1953",21.0,1953.0
Papua New Guinea,"born february 13, 1964",22.0,1964.0
Paraguay,born 10 november 1971,21.0,1971.0
Peru,born 19 october 1969,20.0,1969.0
Philippines,"born september 13, 1957",23.0,1957.0
Poland,born 16 may 1972,16.0,1972.0
Portugal,"born in lisbon, he is the eldest son of baltas...",351.0,1948.0
Pridnestrovie,born on the 23 october 1941,27.0,1941.0
Qatar,born 3 june 1980,16.0,1980.0
Romania,born 13 june 1959,17.0,1959.0
Russia,born 7 october 1952,19.0,1952.0
Rwanda,born in october 1957,20.0,1957.0
Saint Kitts and Nevis,"born denzil llewellyn douglas on january 14, 1953",49.0,1976.0
Saint Lucia,born in the southern village of laborie and a...,198.0,1954.0
Saint Vincent and the Grenadines,"born on august 08, 1946",23.0,1946.0
São Tomé and Príncipe,"born in neves, a city in lembá district on the...",181.0,1959.0
Saudi Arabia,born in riyadh in 1924,22.0,1924.0
Senegal,born on 11 december 1961,24.0,1961.0
Serbia,born 5 march 1970,17.0,1970.0
Seychelles,born 15 march 1961,18.0,1961.0
Sierra Leone,"born may 12, 1964",17.0,1964.0
Singapore,born 30 march 1934,18.0,1934.0
Slovakia,born 21 june 1973,17.0,1973.0
Slovenia,born on 19 february 1952,24.0,1952.0
Somalia,born 29 november 1955,21.0,1955.0
Somaliland,born 1952,9.0,1952.0
South Africa,born 17 november 1952,21.0,1952.0
South Ossetia,"born february 6, 1970",21.0,1970.0
Spain,born 29 february 1972,21.0,1972.0
Sri Lanka,born 20 june 1949,17.0,1949.0
Sudan,"born in the town of hoshe bannaga, 100 km nort...",580.0,1951.0
Suriname,born 13 october 1945,20.0,1945.0
Swaziland,"born makhosetive on april 19, 1968",34.0,1968.0
Sweden,born 23 january 1967,20.0,1967.0
Switzerland,born 13 april 1961,18.0,1961.0
Taiwan (Republic of China),born 31 august 1956,19.0,1956.0
Tanzania,born 27 january 1960,20.0,1960.0
Thailand,born 28 july 1938,17.0,1938.0
Timor-Leste (East Timor),born 26 december 1949,21.0,1949.0
Togo,"born june 6, 1966",17.0,1966.0
Tonga,born on 7th july 1944,21.0,1944.0
Trinidad and Tobago,"born december 23, 1958",22.0,1958.0
Tunisia,born after the country gained independence fro...,62.0,1958.0
Turkey,born 26 february 1954,21.0,1954.0
Turkmenistan,born 22 september 1981,22.0,1981.0
Tuvalu,born 10 february 1956,21.0,1956.0
Uganda,"born yoweri kaguta museveni, c. 1944",36.0,1944.0
Ukraine,born on 25 january 1978,23.0,1978.0
United Arab Emirates,born 11 march 1961,18.0,1961.0
United Kingdom,born 12 may 1980,16.0,1980.0
United States,"born november 20, 1942",22.0,1942.0
Uruguay,born 11 august 1973,19.0,1973.0
Uzbekistan,"born on the 30th of january, 1938",33.0,1938.0
Vanuatu,born c. 1954,12.0,1954.0
Vatican City,born in buenos aires on 17 december 1936,40.0,1936.0
Venezuela,born 23 november 1962,21.0,1962.0
Vietnam,born 14 april 1944,18.0,1944.0
Western Sahara,born 16 september 1948,22.0,1948.0
Yemen,born 1 september 1945,21.0,1945.0
Zambia,born 4 june 1962,16.0,1962.0
Zimbabwe,born 15 september 1942,22.0,1942.0
Nepal,NaN,NaN,1944.0

In [ ]:
df = pd.DataFrame.from_dict(country_age_dict, orient='index')
df.columns = ['Text']
df['Length'] = df['Text'].apply(lambda x: len(x))
df.sort_values('Length', ascending=False)

                                                               Text  Length
Ireland           born into humble circumstances in limerick, an...    3381
Sudan             born in the town of hoshe bannaga, 100 km nort...     580
Jamaica           born in wood hall, st. catherine and attended ...     396
Portugal          born in lisbon, he is the eldest son of baltas...     351
Eritrea           born in asmara eritrea in a little village. is...     301
...                                                             ...     ...
Dominica                                                  born 1948       9
Marshall Islands                                          born 1951       9
Micronesia                                                born 1964       9
Somaliland                                                born 1952       9
Burundi                                                   born 1968       9

[190 rows x 2 columns]

In [ ]:
cutoff = df['Length'].quantile(0.9)

In [ ]:
def parse_byear(text):
    if len(text) <= cutoff:
        return int(text[-4:])
    else:
        return -1

In [ ]:
df['Birthyear'] = df['Text'].apply(parse_byear)
df.query("Birthyear == -1")

,Text,Length,Birthyear
Bulgaria,"born in gotse delchev, rosen plevneliev studie...",142,-1
Canada,born in ottawa and attended collège jean-de-br...,73,-1
Egypt,"born in gamaleya, old cairo, sisi graduated fr...",267,-1
Eritrea,born in asmara eritrea in a little village. is...,301,-1
Gabon,"born albert-bernard bongo, december 30, 1935",44,-1
Indonesia,"born in pacitan, east java, on 9 september 1949",47,-1
Ireland,"born into humble circumstances in limerick, an...",3381,-1
Jamaica,"born in wood hall, st. catherine and attended ...",396,-1
Lesotho,born at scott hospital in morija on july 17 1963,48,-1
Morocco,"born in rabat on wednesday, august 21, 1963",43,-1
"Nepal,",born to bodh prasad koirala and kuminidi koira...,66,-1
Nicaragua,"born in la libertad, nicaragua, on november 11...",52,-1
Portugal,"born in lisbon, he is the eldest son of baltas...",351,-1
Saint Kitts and Nevis,"born denzil llewellyn douglas on january 14, 1953",49,-1
Saint Lucia,born in the southern village of laborie and a...,198,-1
São Tomé and Príncipe,"born in neves, a city in lembá district on the...",181,-1
Sudan,"born in the town of hoshe bannaga, 100 km nort...",580,-1
Tunisia,born after the country gained independence fro...,62,-1

In [ ]:
def explore(country):
    return df.loc[country]['Text']

In [ ]:
def add_byear(country, byear):
    df.loc[country, "Birthyear"] = byear

In [ ]:
# Manually appending the errors
add_byear("Bulgaria", 1963)
add_byear("Canada", 1971)
add_byear("Egypt", 1954)
add_byear("Eritrea", 1946)
add_byear("Gabon", 1935)
add_byear("Indonesia", 1961)
add_byear("Ireland", 1941)
add_byear("Jamaica", 1945)
add_byear('Lesotho', 1963)
add_byear("Morocco", 1961)
add_byear('Nepal', 1944)
add_byear('Nicaragua', 1945)
add_byear("Portugal", 1948)
add_byear('Saint Kitts and Nevis', 1976)
add_byear('Saint Lucia', 1954)
add_byear('São Tomé and Príncipe', 1959)
add_byear("Sudan", 1951)
add_byear("Tunisia", 1958)

In [297]:
df = df.set_index("Country")

In [ ]:
problems

['https://planetrulers.com//andorra-bishop-of-urgell',
 'https://planetrulers.com//australia-governor-general',
 'https://planetrulers.com//bhutan-king',
 'https://planetrulers.com//equatorial-guinea-president',
 'https://planetrulers.com//luxembourg-prime-minister',
 'https://planetrulers.com//mauritus-president',
 'https://planetrulers.com//netherlands-queen',
 'https://planetrulers.com//oman-prime-minister',
 'https://planetrulers.com//sint-maarten-prime-minister/',
 'https://planetrulers.com//samoa-prime-minister',
 'https://planetrulers.com//san-marino-co-head',
 'https://planetrulers.com//solomon-islands-prime-minister',
 'https://planetrulers.com//syria-president',
 'https://planetrulers.com//tajikistan-president']

In [345]:
add_byear("Andorra", 1949)
add_byear("Australia", 1953)
add_byear("Bhutan", 1980)
add_byear("Equatorial Guinea", 1942)
add_byear("Luxembourg", 1963)
add_byear("Mauritus", 1959)
add_byear("Netherlands", 1967) 
add_byear("Oman", 1955)
add_byear("Sint Maarten", 1968)
add_byear("Samoa", 1957)
add_byear("San Marino", 1972)
add_byear("Solomon Islands", 1955)
add_byear("Syria", 1965)
add_byear("tajikistan", 1952)
df = df.rename(index={"Nepal,": "Nepal"})
add_byear("Nepal", 1944)

In [346]:
df['Age'] = df['Birthyear'].apply(lambda x: np.floor(2024-x))
df.sort_values("Age")

,Text,Length,Birthyear,Age,Gender
Country,,,,,
Chile,born 11 february 1986,21.0,1986.0,38.0,Male
Chad,born 1 january 1984,19.0,1984.0,40.0,Male
Mali,born c. 1983,12.0,1983.0,41.0,Male
Korea (North),born 8 january 1983,19.0,1983.0,41.0,Male
Kosovo,born 17 may 1982,16.0,1982.0,42.0,Male
Turkmenistan,born 22 september 1981,22.0,1981.0,43.0,Male
Burkina Faso,born january 1981,17.0,1981.0,43.0,Male
El Salvador,born 24 july 1981,17.0,1981.0,43.0,Male
New Zealand,born 26 july 1980,17.0,1980.0,44.0,Male
Bhutan,NaN,NaN,1980.0,44.0,Male
Guyana,born 25 may 1980,16.0,1980.0,44.0,Male
Qatar,born 3 june 1980,16.0,1980.0,44.0,Male
Guinea,born 4 march 1980,17.0,1980.0,44.0,Male
United Kingdom,born 12 may 1980,16.0,1980.0,44.0,Male
Ukraine,born on 25 january 1978,23.0,1978.0,46.0,Male
Italy,born 15 january 1977,20.0,1977.0,47.0,Male
France,"born on dec 21, 1977",20.0,1977.0,47.0,Male
Hungary,born 6 september 1977,21.0,1977.0,47.0,Male
Saint Kitts and Nevis,"born denzil llewellyn douglas on january 14, 1953",49.0,1976.0,48.0,Male
Ethiopia,born on 15 august 1976,22.0,1976.0,48.0,Male
Madagascar,born 30 may 1974,16.0,1974.0,50.0,Male
Greece,born 28 july 1974,17.0,1974.0,50.0,Male
Estonia,born 30 december 1969,21.0,1973.0,51.0,Male
Slovakia,born 21 june 1973,17.0,1973.0,51.0,Male
Uruguay,born 11 august 1973,19.0,1973.0,51.0,Male
Poland,born 16 may 1972,16.0,1972.0,52.0,Male
Moldova,born 24 may 1972,16.0,1972.0,52.0,Male
San Marino,NaN,NaN,1972.0,52.0,Male
Guinea-Bissau,born 23 september 1972,22.0,1972.0,52.0,Male
Austria,born 18 october 1972,20.0,1972.0,52.0,Male
Nauru,"born on september 16, 1972",26.0,1972.0,52.0,Male
Spain,born 29 february 1972,21.0,1972.0,52.0,Male
Israel,born 25 march 1972,18.0,1972.0,52.0,Male
Curacao,born 28 october 1971,20.0,1971.0,53.0,Male
Canada,born in ottawa and attended collège jean-de-br...,73.0,1971.0,53.0,Male
Paraguay,born 10 november 1971,21.0,1971.0,53.0,Male
Serbia,born 5 march 1970,17.0,1970.0,54.0,Male
South Ossetia,"born february 6, 1970",21.0,1970.0,54.0,Male
Peru,born 19 october 1969,20.0,1969.0,55.0,Male
Swaziland,"born makhosetive on april 19, 1968",34.0,1968.0,56.0,Male
Burundi,born 1968,9.0,1968.0,56.0,Male
Palau,born 1968,9.0,1968.0,56.0,Male
Sint Maarten,NaN,NaN,1968.0,56.0,Male
Kyrgyzstan,born 6 december 1968,20.0,1968.0,56.0,Male
Iceland,born 26 june 1968,17.0,1968.0,56.0,Male
Mongolia,born 14 june 1968,17.0,1968.0,56.0,Male
Dominican Republic,born 12 july 1967,17.0,1967.0,57.0,Male
Netherlands,NaN,NaN,1967.0,57.0,Male
Albania,born 20 march 1967,18.0,1967.0,57.0,Male
Sweden,born 23 january 1967,20.0,1967.0,57.0,Male
Togo,"born june 6, 1966",17.0,1966.0,58.0,Male
Kenya,born 21 december 1966,21.0,1966.0,58.0,Male
Croatia,born 30 october 1966,20.0,1966.0,58.0,Male
Liberia,born 1 october 1966,19.0,1966.0,58.0,Male
Syria,NaN,NaN,1965.0,59.0,Male
Gambia,born 16 february 1965,21.0,1965.0,59.0,Male
Papua New Guinea,"born february 13, 1964",22.0,1964.0,60.0,Male
Sierra Leone,"born may 12, 1964",17.0,1964.0,60.0,Male
Maldives,born 4 may 1964,15.0,1964.0,60.0,Male
Faroe Islands,"born in vejle, denmark, in 1964",31.0,1964.0,60.0,Male
Micronesia,born 1964,9.0,1964.0,60.0,Male
Lesotho,born at scott hospital in morija on july 17 1963,48.0,1963.0,61.0,Male
Abkhazia (Republic of Abkhazia),born 6 april 1963,17.0,1963.0,61.0,Male
Bulgaria,"born in gotse delchev, rosen plevneliev studie...",142.0,1963.0,61.0,Male
Bolivia,born 28 september 1963,22.0,1963.0,61.0,Male
Congo,born 13 june 1963,17.0,1963.0,61.0,Male
Luxembourg,NaN,NaN,1963.0,61.0,Male
Montenegro,born 15 february 1962,21.0,1962.0,62.0,Male
Jordan,"born in amman on january 30th, 1962",35.0,1962.0,62.0,Male
Venezuela,born 23 november 1962,21.0,1962.0,62.0,Male
Zambia,born 4 june 1962,16.0,1962.0,62.0,Male
Costa Rica,born 10 june 1961,17.0,1961.0,63.0,Male
Azerbaijan,"born in december 24, 1961",25.0,1961.0,63.0,Male
Norway,born 24 february 1961,21.0,1961.0,63.0,Male
Senegal,born on 11 december 1961,24.0,1961.0,63.0,Male
Switzerland,born 13 april 1961,18.0,1961.0,63.0,Male
Morocco,"born in rabat on wednesday, august 21, 1963",43.0,1961.0,63.0,Male
Botswana,born 21 july 1961,17.0,1961.0,63.0,Male
United Arab Emirates,born 11 march 1961,18.0,1961.0,63.0,Male
Seychelles,born 15 march 1961,18.0,1961.0,63.0,Male
Indonesia,"born in pacitan, east java, on 9 september 1949",47.0,1961.0,63.0,Male
Iraq,born 12 september 1960,22.0,1960.0,64.0,Male
Belgium,born 15 april 1960,18.0,1960.0,64.0,Male
Colombia,born 19 april 1960,18.0,1960.0,64.0,Male
Macedonia,born on 2 may 1960,18.0,1960.0,64.0,Male
Tanzania,born 27 january 1960,20.0,1960.0,64.0,Male
Korea (South),"born december 18, 1960",22.0,1960.0,64.0,Male
Cape Verde,born 28 march 1960,18.0,1960.0,64.0,Male
Cuba,born 20 april 1960,18.0,1960.0,64.0,Male
Bosnia and Herzegovina,born 12 march 1959,18.0,1959.0,65.0,Male
Argentina,born 2 april 1959,17.0,1959.0,65.0,Male
Honduras,born 30 september 1959,22.0,1959.0,65.0,Male
Comoros,"born january 1, 1959",20.0,1959.0,65.0,Male
Mozambique,born 9 february 1959,20.0,1959.0,65.0,Male
São Tomé and Príncipe,"born in neves, a city in lembá district on the...",181.0,1959.0,65.0,Male
Mauritus,NaN,NaN,1959.0,65.0,Male
Armenia,born 26 july 1959,17.0,1959.0,65.0,Male
Romania,born 13 june 1959,17.0,1959.0,65.0,Male
Benin,born 1 may 1958,15.0,1958.0,66.0,Male
Monaco,"born: monaco, march 14th, 1958",30.0,1958.0,66.0,Male
Malta,born in qormi on 7th december 1958,34.0,1958.0,66.0,Male
Trinidad and Tobago,"born december 23, 1958",22.0,1958.0,66.0,Male
Tunisia,born after the country gained independence fro...,62.0,1958.0,66.0,Male
Japan,born 29 july 1957,17.0,1957.0,67.0,Male
Rwanda,born in october 1957,20.0,1957.0,67.0,Male
Central African Republic,born 21 april 1957,18.0,1957.0,67.0,Male
Philippines,"born september 13, 1957",23.0,1957.0,67.0,Male
Samoa,NaN,NaN,1957.0,67.0,Male
Taiwan (Republic of China),born 31 august 1956,19.0,1956.0,68.0,Male
Guatemala,born 9 march 1956,17.0,1956.0,68.0,Male
Myanmar (Burma),born 3 july 1956,16.0,1956.0,68.0,Male
Tuvalu,born 10 february 1956,21.0,1956.0,68.0,Male
Mauritania,born 31 december 1956,21.0,1956.0,68.0,Male
Lithuania,born in vilnius on march 1 1956,31.0,1956.0,68.0,Male
Oman,NaN,NaN,1955.0,69.0,Male
Solomon Islands,NaN,NaN,1955.0,69.0,Male
Somalia,born 29 november 1955,21.0,1955.0,69.0,Male
Brazil,born 21 march 1955,18.0,1955.0,69.0,Male
Malawi,born 5 april 1955,17.0,1955.0,69.0,Male
Ecuador,born 16 november 1955,21.0,1955.0,69.0,Male
Latvia,born 30 june 1955,17.0,1955.0,69.0,Male
Turkey,born 26 february 1954,21.0,1954.0,70.0,Male
Saint Lucia,born in the southern village of laborie and a...,198.0,1954.0,70.0,Male
Angola,born 5 march 1954,17.0,1954.0,70.0,Male
Germany,born on 17 july 1954,20.0,1954.0,70.0,Male
Egypt,"born in gamaleya, old cairo, sisi graduated fr...",267.0,1954.0,70.0,Male
Belarus,born 31 august 1954,19.0,1954.0,70.0,Male
Vanuatu,born c. 1954,12.0,1954.0,70.0,Male
Fiji,born in suva on 27 april 1954,29.0,1954.0,70.0,Male
Kazakhstan,born 17 may 1953,16.0,1953.0,71.0,Male
Panama,"born january 30, 1953",21.0,1953.0,71.0,Male
China,born 1 june 1953,16.0,1953.0,71.0,Male
Australia,NaN,NaN,1953.0,71.0,Male
Mexico,born: 13 november 1953,22.0,1953.0,71.0,Male
Cambodia,born on thursday 14 may 1953,28.0,1953.0,71.0,Male
South Africa,born 17 november 1952,21.0,1952.0,72.0,Male
Somaliland,born 1952,9.0,1952.0,72.0,Male
Slovenia,born on 19 february 1952,24.0,1952.0,72.0,Male
Russia,born 7 october 1952,19.0,1952.0,72.0,Male
tajikistan,NaN,NaN,1952.0,72.0,Male
Niger,born 1952,9.0,1952.0,72.0,Male
Georgia,born 18 march 1952,18.0,1952.0,72.0,Male
Belize,"born in belize city on march 2, 1951",37.0,1951.0,73.0,Male
Marshall Islands,born 1951,9.0,1951.0,73.0,Male
Sudan,"born in the town of hoshe bannaga, 100 km nort...",580.0,1951.0,73.0,Male
India,born 17 september 1950,22.0,1950.0,74.0,Male
Bahrain,"born january 28, 1950",21.0,1950.0,74.0,Male
Bangladesh,born: 1 january 1944,20.0,1949.0,75.0,Male
Haiti,born 6 november 1949,20.0,1949.0,75.0,Male
Timor-Leste (East Timor),born 26 december 1949,21.0,1949.0,75.0,Male
Barbados,born 17 january 1949,20.0,1949.0,75.0,Male
Sri Lanka,born 20 june 1949,17.0,1949.0,75.0,Male
Andorra,NaN,NaN,1949.0,75.0,Male
Pakistan,born 29 august 1949,19.0,1949.0,75.0,Male
Afghanistan,born in 1949,12.0,1949.0,75.0,Male
French Polynesia,"born on august 7th, 1949",24.0,1949.0,75.0,Male
Dominica,born 1948,9.0,1948.0,76.0,Male
Western Sahara,born 16 september 1948,22.0,1948.0,76.0,Male
Finland,born 24 august 1948,19.0,1948.0,76.0,Male
Portugal,"born in lisbon, he is the eldest son of baltas...",351.0,1948.0,76.0,Male
Lebanon,born on the 21st of november 1948,33.0,1948.0,76.0,Male
Djibouti,"born november 27, 1947",22.0,1947.0,77.0,Male
Northern Cyprus,born 28 december 1947,21.0,1947.0,77.0,Male
Saint Vincent and the Grenadines,"born on august 08, 1946",23.0,1946.0,78.0,Male
Brunei,born on 15th july 1946,22.0,1946.0,78.0,Male
Cyprus,born 27 september 1946,22.0,1946.0,78.0,Male
Eritrea,born in asmara eritrea in a little village. is...,301.0,1946.0,78.0,Male
Algeria,born 17 november 1945,21.0,1945.0,79.0,Male
Yemen,born 1 september 1945,21.0,1945.0,79.0,Male
Nicaragua,"born in la libertad, nicaragua, on november 11...",52.0,1945.0,79.0,Male
Suriname,born 13 october 1945,20.0,1945.0,79.0,Male
Grenada,"born june 13, 1945",18.0,1945.0,79.0,Male
Jamaica,"born in wood hall, st. catherine and attended ...",396.0,1945.0,79.0,Male
Liechtenstein,born on 14th february 1945,26.0,1945.0,79.0,Male
Laos,born 10 november 1945,21.0,1945.0,79.0,Male
Antigua and Barbuda,"born july 26, 1944",18.0,1944.0,80.0,Male
Nepal,born to bodh prasad koirala and kuminidi koira...,66.0,1944.0,80.0,Male
Uganda,"born yoweri kaguta museveni, c. 1944",36.0,1944.0,80.0,Male
Tonga,born on 7th july 1944,21.0,1944.0,80.0,Male
Nepal,NaN,NaN,1944.0,80.0,Male
Czech Republic,born 28 september 1944,22.0,1944.0,80.0,Male
Ghana,born 29 march 1944,18.0,1944.0,80.0,Male
Vietnam,born 14 april 1944,18.0,1944.0,80.0,Male
Equatorial Guinea,NaN,NaN,1942.0,82.0,Male
Zimbabwe,born 15 september 1942,22.0,1942.0,82.0,Male
Côte d’Ivoire (Ivory Coast),born 1 january 1942,19.0,1942.0,82.0,Male
Libya,born in 1942,12.0,1942.0,82.0,Male
United States,"born november 20, 1942",22.0,1942.0,82.0,Male
Nigeria,born 17 december 1942,21.0,1942.0,82.0,Male
Ireland,"born into humble circumstances in limerick, an...",3381.0,1941.0,83.0,Male
Pridnestrovie,born on the 23 october 1941,27.0,1941.0,83.0,Male
Namibia,born 3 august 1941,18.0,1941.0,83.0,Male
Denmark,born on 16 april 1940,23.0,1940.0,84.0,Male
Iran,born 19 april 1939,18.0,1939.0,85.0,Male
Thailand,born 28 july 1938,17.0,1938.0,86.0,Male
Uzbekistan,"born on the 30th of january, 1938",33.0,1938.0,86.0,Male
Kuwait,born in 1937,12.0,1937.0,87.0,Male
Vatican City,born in buenos aires on 17 december 1936,40.0,1936.0,88.0,Male
Gabon,"born albert-bernard bongo, december 30, 1935",44.0,1935.0,89.0,Male
Palestine,"born in safad on march 26, 1935",32.0,1935.0,89.0,Male
Singapore,born 30 march 1934,18.0,1934.0,90.0,Male
Cameroon,"born on february 13, 1933",25.0,1933.0,91.0,Male
Bahamas,"born at mathew town, inagua, 11 may 1928",40.0,1928.0,96.0,Male
Malaysia,born 10 july 1925,17.0,1925.0,99.0,Male
Saudi Arabia,born in riyadh in 1924,22.0,1924.0,100.0,Male

In [347]:
df['Gender'] = "Male"

In [348]:
text = """Italy
Hungary
Sweden
Barbados
Honduras
Tanzania
Moldova
Kosovo
Taiwan (Republic of China)
Slovakia
Georgia
Trinidad and Tobago
Germany
New Zealand
Estonia
Nepal,
Malta
Sint Maarten
Finland
Saint Lucia"""

In [349]:
female_presidents = text.split("\n")

In [350]:
a2 = df.query("Country in @female_presidents").index

In [351]:
[a for a in female_presidents if a not in a2]

['Nepal,']

In [352]:
add_byear("Estonia", 1973)
add_byear("Bangladesh", 1949)

In [353]:
df = df[df.index.notna()]

In [368]:
df

,Text,Length,Birthyear,Age,Gender
Country,,,,,
Abkhazia (Republic of Abkhazia),born 6 april 1963,17.0,1963.0,61.0,Male
Afghanistan,born in 1949,12.0,1949.0,75.0,Male
Albania,born 20 march 1967,18.0,1967.0,57.0,Male
Algeria,born 17 november 1945,21.0,1945.0,79.0,Male
Angola,born 5 march 1954,17.0,1954.0,70.0,Male
Antigua and Barbuda,"born july 26, 1944",18.0,1944.0,80.0,Male
Argentina,born 2 april 1959,17.0,1959.0,65.0,Male
Armenia,born 26 july 1959,17.0,1959.0,65.0,Male
Austria,born 18 october 1972,20.0,1972.0,52.0,Male
Azerbaijan,"born in december 24, 1961",25.0,1961.0,63.0,Male
Bahamas,"born at mathew town, inagua, 11 may 1928",40.0,1928.0,96.0,Male
Bahrain,"born january 28, 1950",21.0,1950.0,74.0,Male
Bangladesh,born: 1 january 1944,20.0,1949.0,75.0,Male
Barbados,born 17 january 1949,20.0,1949.0,75.0,Male
Belarus,born 31 august 1954,19.0,1954.0,70.0,Male
Belgium,born 15 april 1960,18.0,1960.0,64.0,Male
Belize,"born in belize city on march 2, 1951",37.0,1951.0,73.0,Male
Benin,born 1 may 1958,15.0,1958.0,66.0,Male
Bolivia,born 28 september 1963,22.0,1963.0,61.0,Male
Bosnia and Herzegovina,born 12 march 1959,18.0,1959.0,65.0,Male
Botswana,born 21 july 1961,17.0,1961.0,63.0,Male
Brazil,born 21 march 1955,18.0,1955.0,69.0,Male
Brunei,born on 15th july 1946,22.0,1946.0,78.0,Male
Bulgaria,"born in gotse delchev, rosen plevneliev studie...",142.0,1963.0,61.0,Male
Burkina Faso,born january 1981,17.0,1981.0,43.0,Male
Burundi,born 1968,9.0,1968.0,56.0,Male
Cambodia,born on thursday 14 may 1953,28.0,1953.0,71.0,Male
Cameroon,"born on february 13, 1933",25.0,1933.0,91.0,Male
Canada,born in ottawa and attended collège jean-de-br...,73.0,1971.0,53.0,Male
Cape Verde,born 28 march 1960,18.0,1960.0,64.0,Male
Central African Republic,born 21 april 1957,18.0,1957.0,67.0,Male
Chad,born 1 january 1984,19.0,1984.0,40.0,Male
Chile,born 11 february 1986,21.0,1986.0,38.0,Male
China,born 1 june 1953,16.0,1953.0,71.0,Male
Colombia,born 19 april 1960,18.0,1960.0,64.0,Male
Comoros,"born january 1, 1959",20.0,1959.0,65.0,Male
Congo,born 13 june 1963,17.0,1963.0,61.0,Male
Costa Rica,born 10 june 1961,17.0,1961.0,63.0,Male
Côte d’Ivoire (Ivory Coast),born 1 january 1942,19.0,1942.0,82.0,Male
Croatia,born 30 october 1966,20.0,1966.0,58.0,Male
Cuba,born 20 april 1960,18.0,1960.0,64.0,Male
Curacao,born 28 october 1971,20.0,1971.0,53.0,Male
Cyprus,born 27 september 1946,22.0,1946.0,78.0,Male
Czech Republic,born 28 september 1944,22.0,1944.0,80.0,Male
Denmark,born on 16 april 1940,23.0,1940.0,84.0,Male
Djibouti,"born november 27, 1947",22.0,1947.0,77.0,Male
Dominica,born 1948,9.0,1948.0,76.0,Male
Dominican Republic,born 12 july 1967,17.0,1967.0,57.0,Male
Ecuador,born 16 november 1955,21.0,1955.0,69.0,Male
Egypt,"born in gamaleya, old cairo, sisi graduated fr...",267.0,1954.0,70.0,Male
El Salvador,born 24 july 1981,17.0,1981.0,43.0,Male
Eritrea,born in asmara eritrea in a little village. is...,301.0,1946.0,78.0,Male
Estonia,born 30 december 1969,21.0,1973.0,51.0,Male
Ethiopia,born on 15 august 1976,22.0,1976.0,48.0,Male
Faroe Islands,"born in vejle, denmark, in 1964",31.0,1964.0,60.0,Male
Fiji,born in suva on 27 april 1954,29.0,1954.0,70.0,Male
Finland,born 24 august 1948,19.0,1948.0,76.0,Male
France,"born on dec 21, 1977",20.0,1977.0,47.0,Male
French Polynesia,"born on august 7th, 1949",24.0,1949.0,75.0,Male
Gabon,"born albert-bernard bongo, december 30, 1935",44.0,1935.0,89.0,Male
Gambia,born 16 february 1965,21.0,1965.0,59.0,Male
Georgia,born 18 march 1952,18.0,1952.0,72.0,Male
Germany,born on 17 july 1954,20.0,1954.0,70.0,Male
Ghana,born 29 march 1944,18.0,1944.0,80.0,Male
Greece,born 28 july 1974,17.0,1974.0,50.0,Male
Grenada,"born june 13, 1945",18.0,1945.0,79.0,Male
Guatemala,born 9 march 1956,17.0,1956.0,68.0,Male
Guinea,born 4 march 1980,17.0,1980.0,44.0,Male
Guinea-Bissau,born 23 september 1972,22.0,1972.0,52.0,Male
Guyana,born 25 may 1980,16.0,1980.0,44.0,Male
Haiti,born 6 november 1949,20.0,1949.0,75.0,Male
Honduras,born 30 september 1959,22.0,1959.0,65.0,Male
Hungary,born 6 september 1977,21.0,1977.0,47.0,Male
Iceland,born 26 june 1968,17.0,1968.0,56.0,Male
India,born 17 september 1950,22.0,1950.0,74.0,Male
Indonesia,"born in pacitan, east java, on 9 september 1949",47.0,1961.0,63.0,Male
Iran,born 19 april 1939,18.0,1939.0,85.0,Male
Iraq,born 12 september 1960,22.0,1960.0,64.0,Male
Ireland,"born into humble circumstances in limerick, an...",3381.0,1941.0,83.0,Male
Israel,born 25 march 1972,18.0,1972.0,52.0,Male
Italy,born 15 january 1977,20.0,1977.0,47.0,Male
Jamaica,"born in wood hall, st. catherine and attended ...",396.0,1945.0,79.0,Male
Japan,born 29 july 1957,17.0,1957.0,67.0,Male
Jordan,"born in amman on january 30th, 1962",35.0,1962.0,62.0,Male
Kazakhstan,born 17 may 1953,16.0,1953.0,71.0,Male
Kenya,born 21 december 1966,21.0,1966.0,58.0,Male
Korea (South),"born december 18, 1960",22.0,1960.0,64.0,Male
Korea (North),born 8 january 1983,19.0,1983.0,41.0,Male
Kosovo,born 17 may 1982,16.0,1982.0,42.0,Male
Kuwait,born in 1937,12.0,1937.0,87.0,Male
Kyrgyzstan,born 6 december 1968,20.0,1968.0,56.0,Male
Laos,born 10 november 1945,21.0,1945.0,79.0,Male
Latvia,born 30 june 1955,17.0,1955.0,69.0,Male
Lebanon,born on the 21st of november 1948,33.0,1948.0,76.0,Male
Lesotho,born at scott hospital in morija on july 17 1963,48.0,1963.0,61.0,Male
Liberia,born 1 october 1966,19.0,1966.0,58.0,Male
Libya,born in 1942,12.0,1942.0,82.0,Male
Liechtenstein,born on 14th february 1945,26.0,1945.0,79.0,Male
Lithuania,born in vilnius on march 1 1956,31.0,1956.0,68.0,Male
Macedonia,born on 2 may 1960,18.0,1960.0,64.0,Male
Madagascar,born 30 may 1974,16.0,1974.0,50.0,Male
Malawi,born 5 april 1955,17.0,1955.0,69.0,Male
Malaysia,born 10 july 1925,17.0,1925.0,99.0,Male
Maldives,born 4 may 1964,15.0,1964.0,60.0,Male
Mali,born c. 1983,12.0,1983.0,41.0,Male
Malta,born in qormi on 7th december 1958,34.0,1958.0,66.0,Male
Marshall Islands,born 1951,9.0,1951.0,73.0,Male
Mauritania,born 31 december 1956,21.0,1956.0,68.0,Male
Mexico,born: 13 november 1953,22.0,1953.0,71.0,Male
Micronesia,born 1964,9.0,1964.0,60.0,Male
Moldova,born 24 may 1972,16.0,1972.0,52.0,Male
Monaco,"born: monaco, march 14th, 1958",30.0,1958.0,66.0,Male
Mongolia,born 14 june 1968,17.0,1968.0,56.0,Male
Montenegro,born 15 february 1962,21.0,1962.0,62.0,Male
Morocco,"born in rabat on wednesday, august 21, 1963",43.0,1961.0,63.0,Male
Mozambique,born 9 february 1959,20.0,1959.0,65.0,Male
Myanmar (Burma),born 3 july 1956,16.0,1956.0,68.0,Male
Namibia,born 3 august 1941,18.0,1941.0,83.0,Male
Nauru,"born on september 16, 1972",26.0,1972.0,52.0,Male
Nepal,born to bodh prasad koirala and kuminidi koira...,66.0,1944.0,80.0,Male
New Zealand,born 26 july 1980,17.0,1980.0,44.0,Male
Nicaragua,"born in la libertad, nicaragua, on november 11...",52.0,1945.0,79.0,Male
Niger,born 1952,9.0,1952.0,72.0,Male
Nigeria,born 17 december 1942,21.0,1942.0,82.0,Male
Northern Cyprus,born 28 december 1947,21.0,1947.0,77.0,Male
Norway,born 24 february 1961,21.0,1961.0,63.0,Male
Pakistan,born 29 august 1949,19.0,1949.0,75.0,Male
Palau,born 1968,9.0,1968.0,56.0,Male
Palestine,"born in safad on march 26, 1935",32.0,1935.0,89.0,Male
Panama,"born january 30, 1953",21.0,1953.0,71.0,Male
Papua New Guinea,"born february 13, 1964",22.0,1964.0,60.0,Male
Paraguay,born 10 november 1971,21.0,1971.0,53.0,Male
Peru,born 19 october 1969,20.0,1969.0,55.0,Male
Philippines,"born september 13, 1957",23.0,1957.0,67.0,Male
Poland,born 16 may 1972,16.0,1972.0,52.0,Male
Portugal,"born in lisbon, he is the eldest son of baltas...",351.0,1948.0,76.0,Male
Pridnestrovie,born on the 23 october 1941,27.0,1941.0,83.0,Male
Qatar,born 3 june 1980,16.0,1980.0,44.0,Male
Romania,born 13 june 1959,17.0,1959.0,65.0,Male
Russia,born 7 october 1952,19.0,1952.0,72.0,Male
Rwanda,born in october 1957,20.0,1957.0,67.0,Male
Saint Kitts and Nevis,"born denzil llewellyn douglas on january 14, 1953",49.0,1976.0,48.0,Male
Saint Lucia,born in the southern village of laborie and a...,198.0,1954.0,70.0,Male
Saint Vincent and the Grenadines,"born on august 08, 1946",23.0,1946.0,78.0,Male
São Tomé and Príncipe,"born in neves, a city in lembá district on the...",181.0,1959.0,65.0,Male
Saudi Arabia,born in riyadh in 1924,22.0,1924.0,100.0,Male
Senegal,born on 11 december 1961,24.0,1961.0,63.0,Male
Serbia,born 5 march 1970,17.0,1970.0,54.0,Male
Seychelles,born 15 march 1961,18.0,1961.0,63.0,Male
Sierra Leone,"born may 12, 1964",17.0,1964.0,60.0,Male
Singapore,born 30 march 1934,18.0,1934.0,90.0,Male
Slovakia,born 21 june 1973,17.0,1973.0,51.0,Male
Slovenia,born on 19 february 1952,24.0,1952.0,72.0,Male
Somalia,born 29 november 1955,21.0,1955.0,69.0,Male
Somaliland,born 1952,9.0,1952.0,72.0,Male
South Africa,born 17 november 1952,21.0,1952.0,72.0,Male
South Ossetia,"born february 6, 1970",21.0,1970.0,54.0,Male
Spain,born 29 february 1972,21.0,1972.0,52.0,Male
Sri Lanka,born 20 june 1949,17.0,1949.0,75.0,Male
Sudan,"born in the town of hoshe bannaga, 100 km nort...",580.0,1951.0,73.0,Male
Suriname,born 13 october 1945,20.0,1945.0,79.0,Male
Swaziland,"born makhosetive on april 19, 1968",34.0,1968.0,56.0,Male
Sweden,born 23 january 1967,20.0,1967.0,57.0,Male
Switzerland,born 13 april 1961,18.0,1961.0,63.0,Male
Taiwan (Republic of China),born 31 august 1956,19.0,1956.0,68.0,Male
Tanzania,born 27 january 1960,20.0,1960.0,64.0,Male
Thailand,born 28 july 1938,17.0,1938.0,86.0,Male
Timor-Leste (East Timor),born 26 december 1949,21.0,1949.0,75.0,Male
Togo,"born june 6, 1966",17.0,1966.0,58.0,Male
Tonga,born on 7th july 1944,21.0,1944.0,80.0,Male
Trinidad and Tobago,"born december 23, 1958",22.0,1958.0,66.0,Male
Tunisia,born after the country gained independence fro...,62.0,1958.0,66.0,Male
Turkey,born 26 february 1954,21.0,1954.0,70.0,Male
Turkmenistan,born 22 september 1981,22.0,1981.0,43.0,Male
Tuvalu,born 10 february 1956,21.0,1956.0,68.0,Male
Uganda,"born yoweri kaguta museveni, c. 1944",36.0,1944.0,80.0,Male
Ukraine,born on 25 january 1978,23.0,1978.0,46.0,Male
United Arab Emirates,born 11 march 1961,18.0,1961.0,63.0,Male
United Kingdom,born 12 may 1980,16.0,1980.0,44.0,Male
United States,"born november 20, 1942",22.0,1942.0,82.0,Male
Uruguay,born 11 august 1973,19.0,1973.0,51.0,Male
Uzbekistan,"born on the 30th of january, 1938",33.0,1938.0,86.0,Male
Vanuatu,born c. 1954,12.0,1954.0,70.0,Male
Vatican City,born in buenos aires on 17 december 1936,40.0,1936.0,88.0,Male
Venezuela,born 23 november 1962,21.0,1962.0,62.0,Male
Vietnam,born 14 april 1944,18.0,1944.0,80.0,Male
Western Sahara,born 16 september 1948,22.0,1948.0,76.0,Male
Yemen,born 1 september 1945,21.0,1945.0,79.0,Male
Zambia,born 4 june 1962,16.0,1962.0,62.0,Male
Zimbabwe,born 15 september 1942,22.0,1942.0,82.0,Male
Nepal,NaN,NaN,1944.0,80.0,Male
Andorra,NaN,NaN,1949.0,75.0,Male
Australia,NaN,NaN,1953.0,71.0,Male
Bhutan,NaN,NaN,1980.0,44.0,Male
Equatorial Guinea,NaN,NaN,1942.0,82.0,Male
Luxembourg,NaN,NaN,1963.0,61.0,Male
Mauritus,NaN,NaN,1959.0,65.0,Male
Netherlands,NaN,NaN,1967.0,57.0,Male
Oman,NaN,NaN,1955.0,69.0,Male
Sint Maarten,NaN,NaN,1968.0,56.0,Male
Samoa,NaN,NaN,1957.0,67.0,Male
San Marino,NaN,NaN,1972.0,52.0,Male
Solomon Islands,NaN,NaN,1955.0,69.0,Male
Syria,NaN,NaN,1965.0,59.0,Male
tajikistan,NaN,NaN,1952.0,72.0,Male

In [370]:
df.loc[np.isin(df.index, female_presidents), "Gender"] = "Female"

In [376]:
df[["Age", "Gender"]].sort_index().to_csv("data.csv")