In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('combined_data.csv')
df.head()

,Country,Age,Gender,slug,years,date_of_information,ranking,region
0,Afghanistan,75.0,Male,afghanistan,19.9,2023,203,South Asia
1,Albania,57.0,Male,albania,35.8,2023,90,Europe
2,Algeria,79.0,Male,algeria,28.9,2023,143,Africa
3,Andorra,75.0,Male,andorra,48.1,2023,5,Europe
4,Angola,70.0,Male,angola,16.2,2023,225,Africa

In [4]:
df['region'].unique()

array(['South Asia', 'Europe', 'Africa',
       'Central America and the Caribbean', 'South America',
       'Middle East', 'Australia and Oceania', 'East and Southeast Asia',
       'North America', 'Central Asia'], dtype=object)

In [5]:
custom_order = ['Europe', 'Africa', 'South America', 'Central America and the Caribbean', 'North America', 'Middle East', 'Central Asia', "South Asia", 'East and Southeast Asia', 'Australia and Oceania']

In [6]:
df['region'] = pd.Categorical(df['region'], categories=custom_order, ordered=True)

# Sort the DataFrame based on the 'region' column
df_sorted = df.sort_values(by='region')

# Display the sorted DataFrame
df_sorted.to_csv('combined_data.csv')

In [8]:
df_sorted['region'].unique()

['Europe', 'Africa', 'South America', 'Central America and the Caribbean', 'North America', 'Middle East', 'Central Asia', 'South Asia', 'East and Southeast Asia', 'Australia and Oceania']
Categories (10, object): ['Europe' < 'Africa' < 'South America' < 'Central America and the Caribbean' ... 'Central Asia' < 'South Asia' < 'East and Southeast Asia' < 'Australia and Oceania']